.container {
  display: flex;
  justify-content: left; /* horizontally center */
  align-items: center; /* vertically center */
  height: 70vh; /* adjust the height as needed */
  width:70rem;
  margin: 50px auto 20px; /* Adjust the top margin to be greater than the height of the main menu */
  color:black;
}

.container1 {
  display: flex;
  justify-content: left; /* horizontally center */
  align-items: center; /* vertically center */
  height: 70vh; /* adjust the height as needed */
  width:70rem;
  margin: 300px auto 20px; /* Adjust the top margin to be greater than the height of the main menu */
  color:black;
}

.form {
  max-width: 100%;
  margin: 2rem auto ;
  align:center;
  color:black;
}

.form h3{
    margin:2rem;
}

.form .control{
 display:flex;
 color:white;
 width:1000px;
}

.form label{
    text-align:left;
    width:15rem;
    color:black;
}

.addressRow{
    display:flex;
    flex-direction:column;
}

.form input,
.form textarea {
  font: inherit;
  padding: 0.25rem;
  margin-top: 0.25rem;
  width:25rem;
  background-color: white;
  color: black;}

.actions {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.actions button {
  font: inherit;
  font-size:1rem;
  cursor: pointer;
  padding: 0.3rem 1.5rem;
  border-radius: 4px;
  background-color: var(--color-gray-500);
  color: white;
  border: 2px solid var(--color-gray-500);
  width:100px;
  height:40px;
}

.actions a {
  text-decoration: none;
  background-color: transparent;
  color: black;
  cursor:pointer;
}

.actions button:hover {
  background-color: white;
  color:black;
}

.actions a:hover {
  color: var(--color-gray-500);
      cursor:pointer;

}
