.container {
  display: flex;
  justify-content: left; /* horizontally center */
  align-items: center; /* vertically center */
  height: 70vh; /* adjust the height as needed */
  width:100%;
  margin: 100px auto 20px; /* Adjust the top margin to be greater than the height of the main menu */
  color:black;
  text-align:center;
}

.container1 {
  display: flex;
  justify-content: left; /* horizontally center */
  align-items: center; /* vertically center */
  height: 70vh; /* adjust the height as needed */
  width:100%;
  margin: 300px auto 20px; /* Adjust the top margin to be greater than the height of the main menu */
  color:black;
text-align:center;
}

.form {
  max-width: 100%;
  margin: 0 auto ;
  align:center;
  color:black;
}

.form h3{
    margin:2rem;
}

.form .control{
 display:flex;
 color:white;
 width:1000px;
}

.form label{
    text-align:left;
    width:15rem;
    color:#850e57;
}

.addressRow{
    display:flex;
    flex-direction:column;
}

.form input,
.form textarea {
  font: inherit;
  padding: 0.25rem;
  margin-top: 0.25rem;
  width:25rem;
  background-color: white;
  color: black;
  height:30px;
  width:500px;
  }

.actions {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.button {
    height:30px;
    width:80px;
  background-color: e878bd; /* grey background */
  color: #850e57; /* White text */
  font-size: 16px; /* Font size */
  border: 2px solid grey; /* No border */
  border-radius: 4px; /* Rounded corners */
  cursor: pointer; /* Cursor style */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.button:hover {
  background-color: #850e57; /* Darker green background on hover */
  color:white;
}



