.button {
  background-color: transparent;
  color: #1ad1b9;
  border:none;
  box-shadow:none;
  background:none;
  padding:0px;
  margin:none;
  width:60px;
}

.button:hover,
.button:active {
  color: white;
}



.badge {
  background-color: #a8a8e9;
  border-radius: 50%;
  padding: 0.4rem 0.3rem;
  color: #1d1d1d;
  font-style: normal;
}