*{
color:grey;
}
.item {
  margin: 1rem 0;
  padding: 1rem;
  border:1px solid #ccc;
}

.itemdet{
  display:flex;
}

.itemdet div{
    width:30%;
    align:center;
}
.item h3 {
  margin: 0 0 0.5rem 0;
  font-size: 1.75rem;
}

.item header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.item img {
    height:100%;
    width:50%
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quantity span {
 color:grey;
}

.price {
  color:grey;
}

.itemprice {
   color:grey;
}
.itemstock {
 color:grey;
}

input {
    height:2rem;
}

.actions {
  display: flex;
  justify-content: center;
  margin: 0.5rem 0;
}

.actions button {
  background-color: transparent;
  border: 1px solid white;
  margin-left: 0.5rem;
  padding: 0.15rem 1rem;
  color: white;
}

.actions button:hover,
.actions button:active {
  background-color: #4b4b4b;
  color: white;
}

.itemtype{
    color:grey;
}