.container{
    width:100%;
    margin: 0 auto;
    text-align:center;
    margin-right:'100px';
}
h2{
    margin-bottom:20px;
}

input{
    width:100rem;
}

tr{
width:100%;
display:flex;
}
 td:nth-child(1) {
    width: 20%;
    text-align:left;
}
td:nth-child(2) {
    width: 80%;
    text-align:left;
}


.control{
    width:100%;
}

.action button{
    width:4rem;
}
.errorMsg{
    color:red;
}
.select,
input[type="text"],
input[type="textarea"] {
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
}

.react-select__menu{
    max-height: 20px;
}

.react-select__option {
  height: 10px; /* Adjust the height as needed */
}

.button {
    height:30px;
    width:80px;
  background-color: e878bd; /* grey background */
  color: #850e57; /* White text */
  font-size: 16px; /* Font size */
  border: none; /* No border */
  border-radius: 4px; /* Rounded corners */
  cursor: pointer; /* Cursor style */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.button:hover {
  background-color: #850e57; /* Darker green background on hover */
  color:white;
}

.imageRow {
  margin-bottom: 2.5px;
  margin-top:2.5px;
}

td.help_text {
    font-size: 0.875em; /* Slightly smaller font size */
    color: #6c757d;     /* Subtle gray color */
    font-style: italic; /* Italic style */
    padding-top: 4px;   /* Add some spacing at the top */
}

input[type="file"] {
  display: none; /* Hide the default file input */
}

.custom_file_upload {
  display: inline-block;
  cursor: pointer;
  background-color: light-grey;
  min-width:400px;
  color: black;
  font-size: 14px;
  border: 2px solid grey;
height:30px;
  gap:0;
  margin:0;
  padding:0;
}

.custom_file_upload:hover {
  background-color: #850e57;
  color: white;
  }

.clear_button{
  display: inline-block;
    margin:0;
    gap:0;
    padding:0;
    width:20px;
    height:30px;
    border: 2px solid grey;
    align-items:left;
}
