.disp {
display:flex;
height:100%;
width:100%;
align-items: top; /* Align items vertically */
margin-right:'0px';
}
.disp > div  {
height:100%;
gap:2rem;

}

.disp > div >img {
    height:40%;
    width:100%;
}

.disp > div >h2 {

}
.order{
display:inline;

}

.img_container img {
  width: 250px;
  height: auto;
  transition: transform 0.3s ease; /* Add transition effect for smooth scaling */
}

.img_container {
  position: relative;
}

.img_container img {
  height: 400px;
  width: 400px;
  transition: transform 0.3s ease; /* Add transition effect for smooth scaling */
}

.magnifier {
  position: absolute;
top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; /* Adjust the color as needed */
  cursor: pointer;
  font-size:24px;
   z-index: 10;
}

/* Scale the image on click */
.img_container.zoomed img {
  transform: scale(1.2); /* Increase the scale factor as needed for magnification */
}

.imageContainer {
width:50%;
margin-right:0px;
cell-padding:0px;
}

.imageIcons {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
  margin-left:20px;
}

.icon {
  width: 50px;
  height: 50px;
  margin: 5px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.icon:hover {
  border-color: blue; /* Add desired hover effect */
}

.selected {
  border-color: blue; /* Add desired selected effect */
}

.mainImageContainer {
  position:relative;
  margin-left: 20px; /* Adjust as needed */
}

.mainImage {
  width: 450px;
  height: 600px;
}

.mainImageContainer.zoomed .mainImage {
  transform: scale(1.5); /* Increase the scale factor as needed for magnification */
}