div.gallery {
  border: none;
  width:100%;
  margin:0;
}

div.gallery:hover {
  border: 1px;
}

div.gallery img {
  width: 300px;
  height: 450px;
  margin-right:10px;
  margin:0;
  padding:0;
}

 .desc {
  padding: 2px;
  text-align: center;
  margin:0;
  padding:0;
  width:200px;
}
/* FabricsList.module.css */
.link {
  text-decoration: none;
}

.linkActive {
  text-decoration: none;
}

.item{
  width:300px;
  height:500px;
  padding:0;
  margin:0;
  position:relative;
  align:center;
  text-decoration:none;
}

.item .desc{
  color: #452b4e;
  text-align:center;
  padding:0;
  margin:10px 0;
  width:100%;
}

.item:hover .desc{
 color:purple;
 text-decoration:none;
}

h2{
  text-align:center;
  }

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0;
  float: left;
  border:none;
  margin-bottom:2px;

}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
    border:none;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
    border:none;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


button{
  width:100px;
  height:50px;
  font-size:20 px;
}

.overlay {
  position: absolute;
  top: 170px; /* Adjust the top position as needed */
  right: 120px; /* Adjust the right position as needed */
}

.circle {
  width: 40px; /* Adjust size as needed */
  height: 40px; /* Adjust size as needed */
  border-radius: 50%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Optional: Add shadow for depth */
}

.button {
    height:30px;
    width:100px;
  background-color: e878bd; /* Green background */
  color: #850e57; /* White text */
  font-size: 16px; /* Font size */
  border: none; /* No border */
  border-radius: 4px; /* Rounded corners */
  cursor: pointer; /* Cursor style */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
  margin-bottom:20px;
}

.button:hover {
  background-color: #850e57;
  color:white;
}

 .sizeBox{
    height:30px;
    width:30px;
    min-width:35px;
    max-width:35px;
    justify-content:top;
    text-align:center;
    padding:4px;
}

 .lowStock{
    height:30px;
    width:30px;
    min-width:35px;
    max-width:35px;
    justifyContent:top;
    textAlign:center;
    padding:0px;
    border:2px solid red;
}