/* App.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color:gray;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #007bff;
    font-size: 2rem;
    margin-bottom: 20px;
}

h2 {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

p {
    font-size: 1rem;
    line-height: 1.5;
    margin: 0 0 20px 0;
}

.orderContainer {
border-bottom: 1px solid;
align-items:left;
  justify-content: space-between;
  margin-bottom: 10px; /* Adjust spacing between orders if needed */
}

.orderSpan {
  text-align:left;
  margin-right:100px;
}

.grid_list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust minmax value as per your need */
    gap: 20px; /* Adjust spacing between items */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.grid_item {
    background-color: #f0f0f0; /* Example background color */
    padding: 20px; /* Adjust padding inside items */
    border: 1px solid #ccc; /* Optional: Border around each item */
    border-radius: 8px; /* Optional: Rounded corners */
}



.order_summary {
    display: flex;
    flex-direction: row;
    justify-content: space-around; /* Space items evenly */
    align-items: center; /* Center items vertically */
    text-align:center;
    width:700px; /* Full width of the container */
    margin-bottom: 10px; /* Add some space below the order summaries */
}

.order_summary span {
    flex: 1; /* Each span will take an equal amount of space */
    text-align: center; /* Center text horizontally */
}

 button{
    width:8rem;
    height:2rem;
}