/* App.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color:gray;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #007bff;
    font-size: 2rem;
    margin-bottom: 20px;
}

h2 {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

p {
    font-size: 1rem;
    line-height: 1.5;
    margin: 0 0 20px 0;
}

.order{
border:1px solid;
}
.label {
    font-weight:bold;
    display: flex;
    flex-direction: row;
    justify-content: space-around; /* Space items evenly */
    align-items: center; /* Center items vertically */
    width: 100%; /* Full width of the container */
    margin-bottom: 10px; /* Add some space below the labels */
}

.label span {
    flex: 1; /* Each span will take an equal amount of space */
    text-align: center; /* Center text horizontally */
}

.order_summary {
    display: flex;
    flex-direction: row;
    justify-content: space-around; /* Space items evenly */
    align-items: center; /* Center items vertically */
    width:700px; /* Full width of the container */
    margin-bottom: 10px; /* Add some space below the order summaries */
}

.order_summary span {
    flex: 1; /* Each span will take an equal amount of space */
    text-align: center; /* Center text horizontally */
}
